
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
</head>
<header>
    <h2>SITE TESTE INICIO</h2>
    <UL>
        <li><a [routerLink]="['/home']"routerLinkActive="router-link-active">Home</a></li>
        <li><a [routerLink]="['/sobre']" routerLinkActive="router-link-active">Sobre</a></li>
        <li><a [routerLink]="['/contato']" routerLinkActive="router-link-active" >Contato</a></li>
        <li><a [routerLink]="['/noticias']" routerLinkActive="router-link-active" >Noticias</a></li>
    </UL>

</header>
<body>
    
</body>
</html>